<div class="container">
  <h1>Users</h1>

  <table>

    <tbody>
      <% @users.each do |user| %>
      <div class="col-sm-6 col-md-4">
        <p>Id: <%= user.id%> </p>
        <p>Email: <%= user.email%></p>
        
        <%= link_to 'Show', user, class: "btn card-button" %>
        <%= link_to 'Edit', edit_user_path(user), class: "btn card-button" %>
        <%= link_to 'Destroy', user, class: "btn card-button", method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
      <% end %>
    </tbody>
  </table>

  <br>

  <%# link_to 'New User', new_user_path, class: "btn btn-danger product-button" %>
</div>