
  <div class="row">
    <% @products.each do |product| %>
      <div class="col-sm-2 col-md-4">
        <%= image_tag(product.image_url, class: "img-responsive") %>
       <h2><%= link_to product.name %></h2>
        <h3><%= product.description %></h3>
        <h4>Colour:<%= product.colour %></h4>
        <h5>Price:<%= product.price %></h5>
        
      </div><!-- /col -->
    <% end %>
  </div>
